<header>
    <section>
        <div class="common pattern-bg">
            <div class="row">
                <div class="col-sm-12 col-md-6 text-start">
                    <h2>Movie page Angular 16</h2>
                </div>
                <div class="col-sm-12 col-md-6 text-end">
                    <div class="container fluid">
                            <a [routerLink]="['/home']"><i class="bi bi-house" ></i> Home</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>